<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">
    <title>Create Configuration</title>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
</head>
<body>
<div class="container-fluid">
    <form>
        <fieldset>
            <legend>DU</legend>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_du('DUS41')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">DUS41</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_du('DUS41')">+</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_du('DUS52')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">DUS52</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_du('DUS52')">+</button>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>PIMCU</legend>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_pimcu('PIMCU_P614')">
                    -
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">PIMCU_P614</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_pimcu('PIMCU_P614')">+
                </button>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>XMU</legend>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_xmu('XMU03')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">XMU03</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_xmu('XMU03')">+</button>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>RU</legend>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RUS01B1')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RUS01B1</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RUS01B1')">+</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RRUS12mB13')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RRUS12mB13</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RRUS12mB13')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RUS2212B03')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RUS2212B03</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RUS2212B03')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('IRU2242')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">IRU2242</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('IRU2242')">+</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RD2242')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RD2242</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RD2242')">+</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RRUS32B30')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RRUS32B30</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RRUS32B30')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU0208B1')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RU0208B1</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU0208B1')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU2217B20')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RU2217B20</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU2217B20')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU2217B01')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RU2217B01</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU2217B01')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU2219B0A')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RU2219B0A</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU2219B0A')">+
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU4415B7')">-
                </button>
                <button type="button" class="btn btn-default" role="button" disabled="disabled">RU4415B7</button>
                <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU4415B7')">+
                </button>
            </div>
        </fieldset>
    </form>
    <div id="divCanvas">
        <canvas style="cursor:pointer;" id="canvasMain" width="500" height="500">Current WebBrowser Doesn't Support Canvas</canvas>
    </div>
</div>
<script type="text/javascript">
    var UNIT_WIDTH = 100;
    var UNIT_HEIGHT = 160;
    var SPACE_UNIT_HORIZONTAL = 60;
    var SPACE_UNIT_VERTICAL = 30;
    var SPACE_UNIT_PORT = 5;
    var RU_MAX_NUM_TX_RX = {
        'RUS01B1':2,
        'RRUS12mB13':2,
        'RUS2212B03':2,
        'IRU2242':2,
        'RD2242':2,
        'RRUS32B30':4,
        'RU0208B1':2,
        'RU2217B20':2,
        'RU2217B01':2,
        'RU2219B0A':2,
        'RU4415B7':4
    }
    var dus = new Array();
    var pimcus = new Array();
    var xmus = new Array();
    var rus = new Array();
    var ports = {};
    var connects = new Array();
    var current_connection = {};
    var drawing_connect_flag = false;
    var c = document.getElementById("canvasMain");
    c.addEventListener('click',function(ev){
        var x = 0;
        var y = 0;
        if (ev.layerX || ev.layerX == 0) {
            x = ev.layerX;
            y = ev.layerY;
        } else if (ev.offsetX || ev.offsetX == 0) {
            x = ev.offsetX;
            y = ev.offsetY;
        }
        if(!drawing_connect_flag) {
            drawing_connect_flag = true;
            current_connection['start_x'] = x;
            current_connection['start_y'] = y;
			getPortByLocation(x,y)
            ctx.beginPath();
            ctx.strokeStyle = '#ff0000';
            ctx.lineWidth = 2;
            ctx.arc(x,y,3,0,2*Math.PI);
            ctx.stroke();
        } else {
            current_connection['end_x'] = x;
            current_connection['end_y'] = y;
            drawing_connect_flag = false;
        }
    },false);
    c.addEventListener('mousemove', function(ev){
        var x = 0;
        var y = 0;
        if (ev.layerX || ev.layerX == 0) {
            x = ev.layerX;
            y = ev.layerY;
        } else if (ev.offsetX || ev.offsetX == 0) {
            x = ev.offsetX;
            y = ev.offsetY;
        }
        if(drawing_connect_flag) {

        }
    },false);
    var ctx = c.getContext("2d");
	ctx.textAlign = 'center';
	ctx.textBaseline = "middle";

    function click_add_du(type){
        dus.push(type)
        draw_graph();
    }

    function click_remove_du(type){
        var new_dus = new Array();
        var reverse_dus = dus.reverse();
        var remove_flag = false;
        for(var du in reverse_dus){
            if (remove_flag == false) {
                if(reverse_dus[du] == type){
                    remove_flag = true;
                    continue;
                }
            }
            new_dus.push(reverse_dus[du])
        }
        dus = new_dus.reverse();
        draw_graph();
    }

    function click_add_pimcu(type){
        pimcus.push(type)
        draw_graph();
    }

    function click_remove_pimcu(type){
        var new_pimcus = new Array();
        var reverse_pimcus = pimcus.reverse();
        var remove_flag = false;
        for(var pimcu in reverse_pimcus){
            if (remove_flag == false) {
                if(reverse_pimcus[pimcu] == type){
                    remove_flag = true;
                    continue;
                }
            }
            new_pimcus.push(reverse_pimcus[pimcu])
        }
        pimcus = new_pimcus.reverse();
        draw_graph();
    }

    function click_add_xmu(type){
        xmus.push(type)
        draw_graph();
    }

    function click_remove_xmu(type){
        var new_xmus = new Array();
        var reverse_xmus = xmus.reverse();
        var remove_flag = false;
        for(var xmu in reverse_xmus){
            if (remove_flag == false) {
                if(reverse_xmus[xmu] == type){
                    remove_flag = true;
                    continue;
                }
            }
            new_xmus.push(reverse_xmus[xmu])
        }
        xmus = new_xmus.reverse();
        draw_graph();
    }

    function click_add_ru(type){
        rus.push(type)
        draw_graph();
    }

    function click_remove_ru(type){
        var new_rus = new Array();
        var reverse_rus = rus.reverse();
        var remove_flag = false;
        for(var ru in reverse_rus){
            if (remove_flag == false) {
                if(reverse_rus[ru] == type){
                    remove_flag = true;
                    continue;
                }
            }
            new_rus.push(reverse_rus[ru])
        }
        rus = new_rus.reverse();
        draw_graph();
    }

    function draw_graph(){
        set_canvas_dimension();
        draw_dus();
        draw_pimcus();
        draw_xmus();
        draw_rus();
        ctx.stroke();
    }

    function draw_dus(){
        exist = {}
        for(var i in dus){
            var prev_index = exist[dus[i]];
            if(prev_index == undefined){
                exist[dus[i]] = 1;
            } else {
                exist[dus[i]] = prev_index + 1;
            }
            var x = SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(dus[i] + '_' + exist[dus[i]],x + UNIT_WIDTH / 2 - (dus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left Port
            ctx.fillText('IDL_A',x - SPACE_UNIT_PORT - 26,y + UNIT_HEIGHT / 2);
			ports[dus[i] + '_' + exist[dus[i]] + ',IDL_A,left'] = (x - SPACE_UNIT_PORT - 26) + ',' + (y + UNIT_HEIGHT / 2);
            //Right Port
            var right_ports = ['A','B','C','D','E','F']
            for(var j in right_ports){
                ctx.fillText(right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / 6) * j + 15);
				ports[dus[i] + '_' + exist[dus[i]] + ',' + right_ports[j] + ',right'] = (x + UNIT_WIDTH + SPACE_UNIT_PORT) + ',' + (y + (UNIT_HEIGHT / 6) * j + 15)
            }
        }
    }

    function draw_pimcus(){
        exist = {}
        for(var i in pimcus){
            var prev_index = exist[pimcus[i]];
            if(prev_index == undefined){
                exist[pimcus[i]] = 1;
            } else {
                exist[pimcus[i]] = prev_index + 1;
            }
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space = SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(pimcus[i] + '_' + exist[pimcus[i]],x + UNIT_WIDTH / 2 - (pimcus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left PORT
            var left_ports = ['A','B','C','D','E','F']
            for(var j in left_ports){
                ctx.fillText('BB_' + left_ports[j],x - SPACE_UNIT_PORT - 26,y + (UNIT_HEIGHT / 6) * j + 15);
				ports[pimcus[i] + '_' + exist[pimcus[i]] + ',BB_' + left_ports[j] + ',left'] = (x - SPACE_UNIT_PORT - 26) + ',' + (y + (UNIT_HEIGHT / 6) * j + 15);
            }
            //Right Port
            var right_ports = ['A','B','C','D','E','F']
            for(var j in right_ports){
                ctx.fillText('RU_' + right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / 6) * j + 15);
				ports[pimcus[i] + '_' + exist[pimcus[i]] + ',RU_' + right_ports[j] + ',right'] = (x - SPACE_UNIT_PORT - 26) + ',' + (y + (UNIT_HEIGHT / 6) * j + 15);
            }
			//IPL Port
			var ipl_ports = ['A','B'];
			for(var j in ipl_ports){
				px = 0;
				py = 0;
				orientation = 'down';
				if(i % 2 == 1){
					px = x + (UNIT_WIDTH / 2) * j + 15;
					py = y + 12;
					orientation = 'up';
				}else {
					px = x + (UNIT_WIDTH / 2) * j + 15;
					py = y + UNIT_HEIGHT - 8;
					orientation = 'down';
				}
                ctx.fillText('IPL_' + ipl_ports[j],px,py);
				ports[pimcus[i] + '_' + exist[pimcus[i]] + ',IPL_' + ipl_ports[j] + ',' + orientation] = px + ',' + py;
            }
        }
    }

    function draw_xmus(){
        exist = {}
        for(var i in xmus){
            var prev_index = exist[xmus[i]];
            if(prev_index == undefined){
                exist[xmus[i]] = 1;
            } else {
                exist[xmus[i]] = prev_index + 1;
            }
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(pimcus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(xmus[i] + '_' + exist[xmus[i]],x + UNIT_WIDTH / 2 - (xmus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left PORT
            var left_ports = ['1','2','3']
            for(var j in left_ports){
                ctx.fillText(left_ports[j],x - SPACE_UNIT_PORT - 5,y + (UNIT_HEIGHT / 3) * j + 30);
				ports[xmus[i] + '_' + exist[xmus[i]] + ',' + left_ports[j] + ',left'] = (x - SPACE_UNIT_PORT - 5) + ',' + (y + (UNIT_HEIGHT / 3) * j + 30);
            }
            //Right Port
            var right_ports = ['4','5','6','7','9','10','11','12','13','14','15','16']
            for(var j in right_ports){
                ctx.fillText(right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / 12) * j + 10);
				ports[xmus[i] + '_' + exist[xmus[i]] + ',' + right_ports[j] + ',right'] = (x + UNIT_WIDTH + SPACE_UNIT_PORT) + ',' + (y + (UNIT_HEIGHT / 12) * j + 10);
            }
        }
    }

    function draw_rus(){
        exist = {}
        for(var i in rus){
            var prev_index = exist[rus[i]];
            if(prev_index == undefined){
                exist[rus[i]] = 1;
            } else {
                exist[rus[i]] = prev_index + 1;
            }
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(pimcus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(xmus.length > 0){
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(rus[i] + '_' + exist[rus[i]],x + UNIT_WIDTH / 2 - (rus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left PORT
            var left_ports = ['1','2']
            for(var j in left_ports){
                ctx.fillText('DATA_'+left_ports[j],x - SPACE_UNIT_PORT - 35,y + (UNIT_HEIGHT / 2) * j + 35);
				ports[rus[i] + '_' + exist[rus[i]] + ',DATA_' + left_ports[j] + ',left'] = (x - SPACE_UNIT_PORT - 35) + ',' + (y + (UNIT_HEIGHT / 2) * j + 35);
            }
            //Right Port
            var right_ports = ['A','B','C','D'];
            var right_ports_num = RU_MAX_NUM_TX_RX[rus[i]];
            for(var j=0;j<right_ports_num;j++){
                ctx.fillText(right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / right_ports_num) * j + 80 / right_ports_num);
            }
        }
    }

    function set_canvas_dimension(){
        total = Math.max(dus.length,pimcus.length,xmus.length,rus.length);
        c.width = $("#divCanvas").width();
        c.height = (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * total + SPACE_UNIT_VERTICAL;
    }
	
	function getPortByLocation(x,y){
		for(var port in ports){
			location = ports[port].split(',');
			lx = location[0];
			ly = location[1];
		}
	}


</script>
</body>
</html>