<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">
    <title>Create Configuration</title>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
</head>
<body>
<div class="container-fluid">
    <form>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_du('DUS41')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">DUS41</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_du('DUS41')">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_du('DUS52')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">DUS52</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_du('DUS52')">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_pimcu('PIMCU_P614')">
                -
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">PIMCU_P614</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_pimcu('PIMCU_P614')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_xmu('XMU03')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">XMU03</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_xmu('XMU03')">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RUS01B1')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RUS01B1</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RUS01B1')">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RRUS12mB13')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RRUS12mB13</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RRUS12mB13')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RUS2212B03')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RUS2212B03</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RUS2212B03')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('IRU2242')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">IRU2242</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('IRU2242')">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RD2242')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RD2242</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RD2242')">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RRUS32B30')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RRUS32B30</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RRUS32B30')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU0208B1')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RU0208B1</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU0208B1')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU2217B20')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RU2217B20</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU2217B20')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU2217B01')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RU2217B01</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU2217B01')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU2219B0A')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RU2219B0A</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU2219B0A')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_ru('RU4415B7')">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">RU4415B7</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_ru('RU4415B7')">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_sef()">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">SEF</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_sef()">+
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" role="button" onclick="click_remove_cg()">-
            </button>
            <button type="button" class="btn btn-default" role="button" disabled="disabled">CarrierGroup</button>
            <button type="button" class="btn btn-default" role="button" onclick="click_add_cg()">+
            </button>
        </div>
        <button type="button" class="btn btn-primary" role="button" onclick="click_generate_config()">Generate</button>
    </form>
    <div id="divCanvas" style="border:1px solid gray;overflow-x:auto;">
        <canvas style="cursor:pointer;" id="canvasMain" height="60">Current WebBrowser Doesn't Support Canvas</canvas>
    </div>
</div>
<script type="text/javascript">
    var UNIT_WIDTH = 100;
    var UNIT_HEIGHT = 160;
    var SPACE_UNIT_HORIZONTAL = 60;
    var SPACE_UNIT_VERTICAL = 60;
    var SPACE_UNIT_PORT = 5;
    var RU_MAX_NUM_TX_RX = {
        'RUS01B1':2,
        'RRUS12mB13':2,
        'RUS2212B03':2,
        'IRU2242':2,
        'RD2242':2,
        'RRUS32B30':4,
        'RU0208B1':2,
        'RU2217B20':2,
        'RU2217B01':2,
        'RU2219B0A':2,
        'RU4415B7':4
    }
    var DRAW_HEIGHT = 60;
	var dus = new Array();
    var pimcus = new Array();
    var xmus = new Array();
    var rus = new Array();
	var sefs = new Array();
	var cgs = new Array();
	var tmas = {};
	var tma_subs = {};
	var augs = {};
	var aus = {};
	var asus = {};
	var asu_ports = {};
    var ports = {};
	var operates = {};
    var connects = new Array();
	var cg_attr = {};
    var current_connection = {};
    var drawing_connect_flag = false;
	var hover_port = {};
	var hover_connect = {};
	var hover_operate = {};
    var c = document.getElementById("canvasMain");
    c.addEventListener('click',function(ev){
        var x = 0;
        var y = 0;
        if (ev.layerX || ev.layerX == 0) {
            x = ev.layerX;
            y = ev.layerY;
        } else if (ev.offsetX || ev.offsetX == 0) {
            x = ev.offsetX;
            y = ev.offsetY;
        }
        if(!drawing_connect_flag) {
			var unit = hover_port['unit'];
			if(unit != undefined){
				drawing_connect_flag = true;
				current_connection['unit'] = hover_port['unit'];
				current_connection['port'] = hover_port['port'];
				current_connection['orientation'] = hover_port['orientation'];
				current_connection['type'] = hover_port['type'];
			}
        } else {
            var port_orientation = hover_port['orientation'];
			if(port_orientation != undefined){
				drawing_connect_flag = false;
				if (current_connection['unit'] != hover_port['unit']) {
					var connection = {};
					connection['start_unit'] = current_connection['unit'];
					connection['start_port'] = current_connection['port'];
					connection['start_orientation'] = current_connection['orientation'];
					connection['start_type'] = current_connection['type'];
					connection['end_unit'] = hover_port['unit'];
					connection['end_port'] = hover_port['port'];
					connection['end_orientation'] = hover_port['orientation'];
					connection['end_type'] = hover_port['type'];
					connects.push(connection);
				}
				current_connection = {};
			} else {
				drawing_connect_flag = false;
				current_connection = {};
			}
        }
		if (hover_connect['start_unit'] != undefined){
			remove_connect_by_click();
		}
		if (hover_operate['operate'] != undefined){
			handle_operate_by_click();
		}
		draw_fresh_graph(); //refresh calculate height
    },false);
    c.addEventListener('mousemove', function(ev){
        var x = 0;
        var y = 0;
        if (ev.layerX || ev.layerX == 0) {
            x = ev.layerX;
            y = ev.layerY;
        } else if (ev.offsetX || ev.offsetX == 0) {
            x = ev.offsetX;
            y = ev.offsetY;
        }
		if(drawing_connect_flag) {
			current_connection['end_x'] = x;
			current_connection['end_y'] = y;
		}
		if(!drawing_connect_flag) {
			get_connect_by_location(x,y);
			get_operate_by_location(x,y);
		}
		get_port_by_location(x,y);
		draw_graph();
    },false);
	c.addEventListener('mouseout', function(ev){
		if(drawing_connect_flag) {
			drawing_connect_flag = false;
			current_connection = {};
			draw_graph();
		}
	},false);
    var ctx = c.getContext("2d");

    function click_add_du(type){
		var exist = {}
        for(var d in dus){
            var prev_index = exist[dus[d].substring(0,dus[d].lastIndexOf('_'))];
            if(prev_index == undefined){
                exist[dus[d].substring(0,dus[d].lastIndexOf('_'))] = 1;
            } else {
                exist[dus[d].substring(0,dus[d].lastIndexOf('_'))] = prev_index + 1;
            }
		}

		dus.push(type + "_" + (exist[type] == undefined ? 1:(exist[type] + 1)));
        draw_graph();
    }

    function click_remove_du(type){
        var new_dus = new Array();
        var reverse_dus = dus.reverse();
        var remove_flag = false;
		var remove_id = 1;
        for(var du in reverse_dus){
            if (remove_flag == false) {
                if(reverse_dus[du].indexOf(type+"_") != -1){
                    remove_flag = true;
                    continue;
                }
            }
			if(reverse_dus[du].indexOf(type+"_") != -1){
				remove_id++;
			}
            new_dus.push(reverse_dus[du])
        }
		remove_connect_by_unit(type + "_" + remove_id);
		//remove port
		for (var i in ports){
			if (i.indexOf(type + "_" + remove_id) == 0){
				delete ports[i];
			}
		}
        dus = new_dus.reverse();
        draw_graph();
    }

    function click_add_pimcu(type){
        var exist = {}
        for(var p in pimcus){
            var prev_index = exist[pimcus[p].substring(0,pimcus[p].lastIndexOf('_'))];
            if(prev_index == undefined){
                exist[pimcus[p].substring(0,pimcus[p].lastIndexOf('_'))] = 1;
            } else {
                exist[pimcus[p].substring(0,pimcus[p].lastIndexOf('_'))] = prev_index + 1;
            }
		}
		pimcus.push(type + "_" + (exist[type] == undefined ? 1:(exist[type] + 1)));
        draw_graph();
    }

    function click_remove_pimcu(type){
        var new_pimcus = new Array();
        var reverse_pimcus = pimcus.reverse();
        var remove_flag = false;
		var remove_id = 1;
        for(var pimcu in reverse_pimcus){
            if (remove_flag == false) {
                if(reverse_pimcus[pimcu].indexOf(type+"_") != -1){
                    remove_flag = true;
                    continue;
                }
            }
			if(reverse_pimcus[pimcu].indexOf(type+"_") != -1){
				remove_id++;
			}
            new_pimcus.push(reverse_pimcus[pimcu])
        }
		remove_connect_by_unit(type + "_" + remove_id);
		//remove port
		for (var i in ports){
			if (i.indexOf(type + "_" + remove_id) == 0){
				delete ports[i];
			}
		}
        pimcus = new_pimcus.reverse();
        draw_graph();
    }

    function click_add_xmu(type){
        var exist = {}
        for(var x in xmus){
            var prev_index = exist[xmus[x].substring(0,xmus[x].lastIndexOf('_'))];
            if(prev_index == undefined){
                exist[xmus[x].substring(0,xmus[x].lastIndexOf('_'))] = 1;
            } else {
                exist[xmus[x].substring(0,xmus[x].lastIndexOf('_'))] = prev_index + 1;
            }
		}
		xmus.push(type + "_" + (exist[type] == undefined ? 1:(exist[type] + 1)));
        draw_graph();
    }

    function click_remove_xmu(type){
        var new_xmus = new Array();
        var reverse_xmus = xmus.reverse();
        var remove_flag = false;
		var remove_id = 1;
        for(var xmu in reverse_xmus){
            if (remove_flag == false) {
                if(reverse_xmus[xmu].indexOf(type+"_") != -1){
                    remove_flag = true;
                    continue;
                }
            }
			if(reverse_xmus[xmu] == type){
				remove_id++;
			}
            new_xmus.push(reverse_xmus[xmu])
        }
		remove_connect_by_unit(type + "_" + remove_id);
		//remove port
		for (var i in ports){
			if (i.indexOf(type + "_" + remove_id) == 0){
				delete ports[i];
			}
		}
        xmus = new_xmus.reverse();
        draw_graph();
    }

    function click_add_ru(type){
        var exist = {}
        for(var r in rus){
            var prev_index = exist[rus[r].substring(0,rus[r].lastIndexOf('_'))];
            if(prev_index == undefined){
                exist[rus[r].substring(0,rus[r].lastIndexOf('_'))] = 1;
            } else {
                exist[rus[r].substring(0,rus[r].lastIndexOf('_'))] = prev_index + 1;
            }
		}
		rus.push(type + "_" + (exist[type] == undefined ? 1:(exist[type] + 1)));
        draw_graph();
    }

    function click_remove_ru(type){
        var new_rus = new Array();
        var reverse_rus = rus.reverse();
        var remove_flag = false;
		var remove_id = 1;
        for(var ru in reverse_rus){
            if (remove_flag == false) {
                if(reverse_rus[ru].indexOf(type+"_") != -1){
                    remove_flag = true;
                    continue;
                }
            }
			if(reverse_rus[ru].indexOf(type+"_") != -1){
				remove_id++;
			}
            new_rus.push(reverse_rus[ru])
        }
		remove_connect_by_unit(type + "_" + remove_id);
		//remove port
		for (var i in ports){
			if (i.indexOf(type + "_" + remove_id) == 0){
				delete ports[i];
			}
		}
        rus = new_rus.reverse();
        draw_graph();
    }

	function click_add_sef(){
		var id = sefs.length + 1;
		sefs.push("SEF_" + id);
		click_add_aug("SEF_" + id)
        draw_fresh_graph();
	}

	function click_remove_sef(){
		var sef = sefs.pop();
		remove_connect_by_unit(sef,true);
		augs[sef] = undefined;
		draw_fresh_graph();
	}

	function click_add_cg(){
		var id = cgs.length + 1;
		cgs.push("CarrierGroup_" + id);
		cg_attr["CarrierGroup_" + id] = {"ratType":"LTE_FDD","bandwidth":5000,"tx":2,"rx":2};
        draw_graph();
	}

	function click_remove_cg(){
		var remove_cg = cgs.pop();
		delete cg_attr[remove_cg];
		draw_graph();
	}

	function draw_fresh_graph(){
		draw_graph();
		draw_graph();
	}

    function draw_graph(){
        set_canvas_dimension();
		ctx.beginPath();
        draw_dus();
        draw_pimcus();
        draw_xmus();
        draw_rus();
		draw_hover_port();
		draw_sefs();
		draw_hover_operate();
		draw_cgs();
		ctx.stroke();
		draw_connects();
		draw_hover_connect();
		draw_current_connect();
    }

    function draw_dus(){
        for(var i in dus){
            var x = SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(dus[i],x + UNIT_WIDTH / 2 - (dus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left Port
            ctx.fillText('IDL_A',x - SPACE_UNIT_PORT - 26,y + UNIT_HEIGHT / 2);
			ports[dus[i] + ',IDL_A,left,du'] = (x - SPACE_UNIT_PORT - 26) + ',' + (y + UNIT_HEIGHT / 2);
            //Right Port
            var right_ports = ['A','B','C','D','E','F']
            for(var j in right_ports){
                ctx.fillText(right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / 6) * j + 15);
				ports[dus[i] + ',' + right_ports[j] + ',right,du'] = (x + UNIT_WIDTH + SPACE_UNIT_PORT) + ',' + (y + (UNIT_HEIGHT / 6) * j + 15)
            }
        }
    }

    function draw_pimcus(){
        for(var i in pimcus){
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space = SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(pimcus[i],x + UNIT_WIDTH / 2 - (pimcus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left PORT
            var left_ports = ['A','B','C','D','E','F']
            for(var j in left_ports){
                ctx.fillText('BB_' + left_ports[j],x - SPACE_UNIT_PORT - 26,y + (UNIT_HEIGHT / 6) * j + 15);
				ports[pimcus[i] + ',BB_' + left_ports[j] + ',left,pimcu'] = (x - SPACE_UNIT_PORT - 26) + ',' + (y + (UNIT_HEIGHT / 6) * j + 15);
            }
            //Right Port
            var right_ports = ['A','B','C','D','E','F']
            for(var j in right_ports){
                ctx.fillText('RU_' + right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / 6) * j + 15);
				ports[pimcus[i] + ',RU_' + right_ports[j] + ',right,pimcu'] = (x + UNIT_WIDTH + SPACE_UNIT_PORT) + ',' + (y + (UNIT_HEIGHT / 6) * j + 15);
            }
			//IPL Port
			var ipl_ports = ['A','B'];
			for(var j in ipl_ports){
				px = 0;
				py = 0;
				orientation = 'down';
				if(i % 2 == 1){
					px = x + (UNIT_WIDTH / 2) * j + 15;
					py = y + 12;
					orientation = 'up';
				}else {
					px = x + (UNIT_WIDTH / 2) * j + 15;
					py = y + UNIT_HEIGHT - 8;
					orientation = 'down';
				}
                ctx.fillText('IPL_' + ipl_ports[j],px,py);
				ports[pimcus[i] + ',IPL_' + ipl_ports[j] + ',' + orientation + ',pimcu'] = px + ',' + py;
            }
        }
    }

    function draw_xmus(){
        for(var i in xmus){
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(pimcus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(xmus[i],x + UNIT_WIDTH / 2 - (xmus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left PORT
            var left_ports = ['1','2','3']
            for(var j in left_ports){
                ctx.fillText(left_ports[j],x - SPACE_UNIT_PORT - 5,y + (UNIT_HEIGHT / 3) * j + 30);
				ports[xmus[i] + ',' + left_ports[j] + ',left,xmu'] = (x - SPACE_UNIT_PORT - 5) + ',' + (y + (UNIT_HEIGHT / 3) * j + 30);
            }
            //Right Port
            var right_ports = ['4','5','6','7','9','10','11','12','13','14','15','16']
            for(var j in right_ports){
                ctx.fillText(right_ports[j],x + UNIT_WIDTH + SPACE_UNIT_PORT,y + (UNIT_HEIGHT / 12) * j + 10);
				ports[xmus[i] + ',' + right_ports[j] + ',right,xmu'] = (x + UNIT_WIDTH + SPACE_UNIT_PORT) + ',' + (y + (UNIT_HEIGHT / 12) * j + 10);
            }
        }
    }

    function draw_rus(){
        for(var i in rus){
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(pimcus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(xmus.length > 0){
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
            ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
            ctx.fillText(rus[i],x + UNIT_WIDTH / 2 - (rus[i].length) * 4,y + UNIT_HEIGHT / 2);

            //Left PORT
            var left_ports = ['1','2']
            for(var j in left_ports){
                ctx.fillText('DATA_'+left_ports[j],x - SPACE_UNIT_PORT - 35,y + (UNIT_HEIGHT / 2) * j + 35);
				ports[rus[i] + ',DATA_' + left_ports[j] + ',left,ru'] = (x - SPACE_UNIT_PORT - 35) + ',' + (y + (UNIT_HEIGHT / 2) * j + 35);
            }
            //Right Port
            var right_ports = ['A','B','C','D','E','F','G','H'];
            var right_ports_num = RU_MAX_NUM_TX_RX[rus[i].split('_')[0]];
            for(var j=0;j<right_ports_num;j++){
				var right_port_x = x + UNIT_WIDTH + SPACE_UNIT_PORT;
				var right_port_y = y + (UNIT_HEIGHT / right_ports_num) * j + 80 / right_ports_num;
                ctx.fillText(right_ports[j],right_port_x,right_port_y);
				ports[rus[i] + ',' + right_ports[j] + ',right,ru'] = (right_port_x) + ',' + (right_port_y);
            }
        }
    }

	function draw_hover_port(){
		var unit = hover_port['unit'];
		var port = hover_port['port'];
		var orientation = hover_port['orientation'];
		var type = hover_port['type'];
		if(unit != undefined){
			var point = ports[unit+","+port+","+orientation+','+type].split(',');
			var px_1 = parseInt(point[0]) - 3;
			var py_1 = parseInt(point[1]) - 10;
			ctx.rect(px_1,py_1,port.length * 6 + 6,14);
		}
	}

	function draw_sefs(){
		var all_height = 0;
		for(var i in sefs){
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(pimcus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(xmus.length > 0){
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
			if(rus.length > 0){
				horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
			}
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;

			all_height += SPACE_UNIT_VERTICAL;
			var sub_all_height = 0;
			if(augs[sefs[i]] != undefined) {
				// draw augs
				sub_all_height = draw_augs(sefs[i],x,all_height);
			} else {
				sub_all_height = UNIT_HEIGHT;
			}
			//draw sef
			ctx.rect(x,all_height - 10,UNIT_WIDTH*2+SPACE_UNIT_HORIZONTAL*5,sub_all_height + 20);
			ctx.fillText(sefs[i],x + UNIT_WIDTH*2+SPACE_UNIT_HORIZONTAL*5 - (sefs[i].length) * 8,all_height + 2);
			// draw operate
			//ctx.fillText('+AUG',x+5,all_height + 2);
			//operates[sefs[i] + ",add,+AUG"] = (x + 5) +","+(all_height+2);
			//ctx.fillText('-AUG',x+40,all_height + 2);
			//operates[sefs[i] + ",remove,-AUG"] = (x + 40) +","+(all_height+2);
			ctx.fillText('+',x + UNIT_WIDTH*2+SPACE_UNIT_HORIZONTAL*5 + SPACE_UNIT_PORT,all_height + sub_all_height / 2 + 10);
			ports[sefs[i] + ',+,right,sef'] = (x + UNIT_WIDTH*2+SPACE_UNIT_HORIZONTAL*5 + SPACE_UNIT_PORT) + "," + (all_height + sub_all_height / 2 + 10);
			all_height += sub_all_height + 40;
        }
		DRAW_HEIGHT = all_height +SPACE_UNIT_HORIZONTAL;
	}

	function draw_augs(sef,x,y){
		var cur_augs = augs[sef];
		var all_height = 0;
		for (var i in cur_augs){
			all_height += SPACE_UNIT_PORT;
			var sub_au_all_height = 0;
			if(aus[sef + ";" + cur_augs[i]] != undefined){
				// draw aus
				sub_au_all_height += draw_aus(sef + ";" + cur_augs[i],x,y + all_height);
			} else {
				sub_au_all_height = UNIT_HEIGHT;
			}
			var sub_tma_all_height = 0;
			if(tmas[sef + ";" + cur_augs[i]] != undefined){
				// draw tmas
				sub_tma_all_height += draw_tmas(sef + ";" + cur_augs[i],x,y + all_height);
			} else {
				sub_tma_all_height = UNIT_HEIGHT;
			}

			var sub_all_height = Math.max(sub_au_all_height,sub_tma_all_height);
			//draw aug
			ctx.rect(x + SPACE_UNIT_HORIZONTAL / 2,y + all_height,UNIT_WIDTH * 2+SPACE_UNIT_HORIZONTAL *4,sub_all_height + 20);
			ctx.fillText(cur_augs[i],x + SPACE_UNIT_HORIZONTAL / 2 + UNIT_WIDTH * 2+SPACE_UNIT_HORIZONTAL *4 - 40,y + all_height + sub_all_height + 15);
			ctx.fillText('+TMA',x + SPACE_UNIT_HORIZONTAL / 2 + 5,y + all_height + 12);
			operates[sef + ";" + cur_augs[i] + ",add,+TMA"] = (x + SPACE_UNIT_HORIZONTAL / 2 + 5) +","+(y + all_height+12);
			ctx.fillText('-TMA',x + SPACE_UNIT_HORIZONTAL / 2 + 40,y + all_height + 12);
			operates[sef + ";" + cur_augs[i] + ",remove,-TMA"] = (x + SPACE_UNIT_HORIZONTAL / 2 + 40) +","+(y + all_height+12);
			ctx.fillText('+TMF',x + SPACE_UNIT_HORIZONTAL / 2 + 75,y + all_height + 12);
			operates[sef + ";" + cur_augs[i] + ",add,+TMF"] = (x + SPACE_UNIT_HORIZONTAL / 2 + 75) +","+(y + all_height+12);
			ctx.fillText('-TMF',x + SPACE_UNIT_HORIZONTAL / 2 + 110,y + all_height + 12);
			operates[sef + ";" + cur_augs[i] + ",remove,-TMF"] = (x + SPACE_UNIT_HORIZONTAL / 2 + 110) +","+(y + all_height+12);
			ctx.fillText('+AU',x + UNIT_WIDTH * 2+SPACE_UNIT_HORIZONTAL *4 + SPACE_UNIT_HORIZONTAL / 2 - 55,y + all_height + 12);
			operates[sef + ";" + cur_augs[i] + ",add,+AU"] = (x + UNIT_WIDTH * 2+SPACE_UNIT_HORIZONTAL *4 + SPACE_UNIT_HORIZONTAL / 2 - 55) +","+(y + all_height+12);
			ctx.fillText('-AU',x + UNIT_WIDTH * 2+SPACE_UNIT_HORIZONTAL *4 + SPACE_UNIT_HORIZONTAL / 2 - 30,y + all_height + 12);
			operates[sef + ";" + cur_augs[i] + ",remove,-AU"] = (x + UNIT_WIDTH * 2+SPACE_UNIT_HORIZONTAL *4 + SPACE_UNIT_HORIZONTAL / 2 - 30) +","+(y + all_height+12);
			all_height += sub_all_height + 20;
		}
		return all_height;
	}

	function draw_tmas(aug,x,y){
		var cur_tmas = tmas[aug];
		var all_height = 0;
		for(var i in cur_tmas){
			all_height += SPACE_UNIT_PORT;
			var sub_tma_sub_all_height = 0;
			if(tma_subs[aug + ";" + cur_tmas[i]] != undefined){
				// draw asus
				sub_tma_sub_all_height += draw_tma_subs(aug + ";" + cur_tmas[i],x,y + all_height);
			} else {
				sub_tma_sub_all_height = UNIT_HEIGHT / 4;
			}
			//draw tma
			ctx.rect(x + SPACE_UNIT_HORIZONTAL,y + 15 + all_height,UNIT_WIDTH,sub_tma_sub_all_height + 25);
			ctx.fillText('+SUB',x + SPACE_UNIT_HORIZONTAL + 3,y + 15 + all_height + 12);
			operates[aug + ";" + cur_tmas[i] + ",add,+SUB"] = (x + SPACE_UNIT_HORIZONTAL + 3) + "," + (y + 15 + all_height + 12);
			ctx.fillText('-SUB',x + SPACE_UNIT_HORIZONTAL + UNIT_WIDTH - 27,y + 15 + all_height + 12);
			operates[aug + ";" + cur_tmas[i] + ",remove,-SUB"] = (x + SPACE_UNIT_HORIZONTAL + UNIT_WIDTH - 27) + "," + (y + 15 + all_height + 12);
			all_height += sub_tma_sub_all_height + 25;
		}
		return all_height;
	}
	
	function draw_tma_subs(tma,x,y){
		var cur_tma_subs = tma_subs[tma];
		var all_height = 0;
		for(var i in cur_tma_subs){
			all_height += SPACE_UNIT_PORT;
			//draw tma
			ctx.rect(x + SPACE_UNIT_HORIZONTAL + 4,y + 30 + all_height,UNIT_WIDTH-8,UNIT_HEIGHT / 4);
			ctx.fillText(cur_tma_subs[i],x + SPACE_UNIT_HORIZONTAL + UNIT_WIDTH / 2 - 5,y +10 + all_height + UNIT_HEIGHT / 4);
			ctx.fillText('OUT',x + SPACE_UNIT_HORIZONTAL - SPACE_UNIT_PORT - 20,y +10 + all_height + UNIT_HEIGHT / 4);
			ctx.fillText('IN',x + SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_PORT,y +10 + all_height + UNIT_HEIGHT / 4);
			ports[tma + ";" + cur_tma_subs[i] + ',OUT,left,tma'] = (x + SPACE_UNIT_HORIZONTAL - SPACE_UNIT_PORT - 20) + ',' + (y +10 + all_height + UNIT_HEIGHT / 4);
			ports[tma + ";" + cur_tma_subs[i] + ',IN,right,tma'] = (x + SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_PORT) + ',' + (y +10 + all_height + UNIT_HEIGHT / 4);
			all_height += UNIT_HEIGHT / 4;
		}
		return all_height;
	}

	function draw_aus(aug,x,y){
		var cur_aus = aus[aug];
		var all_height = 0;
		for(var i in cur_aus){
			all_height += SPACE_UNIT_PORT;
			var sub_asu_all_height = 0;
			if(asus[aug + ";" + cur_aus[i]] != undefined){
				// draw asus
				sub_asu_all_height += draw_asus(aug + ";" + cur_aus[i],x,y + all_height);
			} else {
				sub_asu_all_height = UNIT_HEIGHT;
			}
			//draw au
			ctx.rect(x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH,y + 15 + all_height,UNIT_WIDTH + SPACE_UNIT_HORIZONTAL,sub_asu_all_height);
			ctx.fillText(cur_aus[i],x + SPACE_UNIT_HORIZONTAL * 4 + UNIT_WIDTH * 2 - 30,y + 15 + all_height + sub_asu_all_height - 5);
			ctx.fillText('+ASU',x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + 5,y + all_height + 15 + 12);
			operates[aug + ";" + cur_aus[i] + ",add,+ASU"] = (x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + 5) +","+(y + all_height + 15 + 12);
			ctx.fillText('-ASU',x + SPACE_UNIT_HORIZONTAL * 4 + UNIT_WIDTH * 2 - 30,y + 15 + all_height + 12);
			operates[aug + ";" + cur_aus[i] + ",remove,-ASU"] = (x + SPACE_UNIT_HORIZONTAL * 4 + UNIT_WIDTH * 2 - 30) +","+(y + 15 + all_height + 12);
			all_height += sub_asu_all_height + 20;
		}
		return all_height;
	}

	function draw_asus(au,x,y){
		var cur_aus = asus[au];
		var all_height = 0;
		for(var i in cur_aus){
			all_height += SPACE_UNIT_PORT;
			var sub_asu_port_all_height = 0;
			if(asu_ports[au + ";" + cur_aus[i]] != undefined){
				// draw asu_port
				sub_asu_port_all_height += draw_asu_port(au + ";" + cur_aus[i],x,y + all_height);
			} else {
				sub_asu_port_all_height = UNIT_HEIGHT;
			}
			//draw asu
			ctx.rect(x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2,y + 30 + all_height,UNIT_WIDTH,sub_asu_port_all_height);
			ctx.fillText(cur_aus[i],x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2 + UNIT_WIDTH / 2 - 20,y + 30 + all_height + sub_asu_port_all_height/ 2);
			ctx.fillText('+PORT',x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2 + 5,y + 30 + all_height + 12);
			operates[au + ";" + cur_aus[i] + ",add,+PORT"] = (x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2 + 5) +","+(y + 30 + all_height + 12);
			ctx.fillText('-PORT',x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2 + UNIT_WIDTH - 40,y + 30 + all_height + 12);
			operates[au + ";" + cur_aus[i] + ",remove,-PORT"] = (x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2 + UNIT_WIDTH - 40) +","+(y + 30 + all_height + 12);
			all_height += sub_asu_port_all_height + 20;
		}
		return all_height + 10;
	}

	function draw_asu_port(asu,x,y){
		var cur_asu_ports = asu_ports[asu];
		if(cur_asu_ports != undefined){
			var num = cur_asu_ports.length;
			var each_height = 0;
			if(num > 6){
				each_height = UNIT_HEIGHT / 7;
			}else {
				each_height = UNIT_HEIGHT / (num + 1);
			}
			for (var i = 0;i<num;i++){
				var x1 = x + SPACE_UNIT_HORIZONTAL * 3 + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL / 2 - 10;
				var y1 = y + 30 + (i + 1) * each_height + 3;
				ctx.fillText((i + 1),x1,y1);
				ports[asu + ',' + (i+1) + ',left,auport'] = x1 + "," + y1;
			}
			return each_height * (num + 1);
		}else{
			return UNIT_HEIGHT;
		}
	}

	function draw_hover_operate(){
		var parent = hover_operate['parent'];
		var operate = hover_operate['operate'];
		var type = hover_operate['type'];
		if(parent != undefined){
			var point = operates[parent+","+operate+','+type].split(',');
			var px_1 = parseInt(point[0]) - 3;
			var py_1 = parseInt(point[1]) - 10;
			ctx.rect(px_1,py_1,type.length * 6 + 6,14);
		}
	}

	function draw_cgs(){
		var ratTypes = ['GSM','WCDMA','LTE_FDD','LTE_TDD'];
		var bandwidths = [5000, 10000, 15000,20000];
		var tx = 8;
		var rx = 8;
		for(var i in cgs){
            var horizontal_space = 0;
            if(dus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(pimcus.length > 0) {
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
            if(xmus.length > 0){
                horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
            }
			if(rus.length > 0){
				horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
			}
			if(sefs.length > 0){
				horizontal_space += SPACE_UNIT_HORIZONTAL + UNIT_WIDTH * 2 + SPACE_UNIT_HORIZONTAL * 5 + SPACE_UNIT_HORIZONTAL;
			}
            var x = horizontal_space + SPACE_UNIT_HORIZONTAL;
            var y = SPACE_UNIT_VERTICAL + (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * i;
			ctx.rect(x,y,UNIT_WIDTH,UNIT_HEIGHT);
			ctx.fillText(cgs[i],x + UNIT_WIDTH / 2 - (cgs[i].length) * 2,y + UNIT_HEIGHT / 2 - 8);
			//draw ratType
			for(var j in ratTypes){
				ctx.fillText(ratTypes[j],x +5,y + parseInt(j) * 15 + 12);
				operates[cgs[i] + ";" + ratTypes[j] + ",select,ratType"] = (x +5) + "," + (y + parseInt(j) * 15 + 12);
				if(ratTypes[j] == cg_attr[cgs[i]]['ratType']){
					ctx.rect(x + 3,y + parseInt(j) * 15 + 2,48,14);
				}
			}
			//draw bandwidth
			for(var j in bandwidths){
				ctx.fillText(bandwidths[j],x +60,y + parseInt(j) * 15 + 12);
				operates[cgs[i] + ";" + bandwidths[j] + ",select,band"] = (x +60) + "," + (y + parseInt(j) * 15 + 12);
				if(bandwidths[j] == cg_attr[cgs[i]]['bandwidth']){
					ctx.rect(x + 58,y + parseInt(j) * 15 + 2,30,14);
				}
			}
			//draw Tx
			for(var j =0;j<=tx;j++){
				ctx.fillText(j,x +5 + parseInt(j/5) * 25,y + UNIT_HEIGHT/2 + parseInt(j % 5) * 15 + 12);
				operates[cgs[i] + ";" + j + ",select,tx"] = (x +5 + parseInt(j/5) * 25) + "," + (y + UNIT_HEIGHT/2 + parseInt(j % 5) * 15 + 12);
				if(j == cg_attr[cgs[i]]['tx']){
					ctx.rect(x + 3 + parseInt(j/5) * 25,y + UNIT_HEIGHT/2 + parseInt(j % 5) * 15 + 2,18,14);
				}
			}
			//draw Rx
			for(var j =0;j<=rx;j++){
				ctx.fillText(j,x +60 + parseInt(j/5) * 25,y + UNIT_HEIGHT/2 + parseInt(j % 5) * 15 + 12);
				operates[cgs[i] + ";" + j + ",select,rx"] = (x +60 + parseInt(j/5) * 25) + "," + (y + UNIT_HEIGHT/2 + parseInt(j % 5) * 15 + 12);
				if(j == cg_attr[cgs[i]]['rx']){
					ctx.rect(x + 58 + parseInt(j/5) * 25,y + UNIT_HEIGHT/2 + parseInt(j % 5) * 15 + 2,18,14);
				}
			}
			
			//draw port(connect SEF)
			ctx.fillText('1',x - 10,y + UNIT_HEIGHT / 2);
			ports[cgs[i] + ',1,left,cg'] = (x - 10) + "," + (y + UNIT_HEIGHT / 2);
        }
	}

	function draw_hover_connect(){
		if(hover_connect['start_unit'] != undefined){
			var point1 = get_port_draw_point(hover_connect['start_unit'],hover_connect['start_port'],hover_connect['start_orientation'],hover_connect['start_type']);
			var point2 = get_port_draw_point(hover_connect['end_unit'],hover_connect['end_port'],hover_connect['end_orientation'],hover_connect['end_type']);
			ctx.beginPath();
			ctx.strokeStyle = '#ff0000';
			ctx.lineWidth = 2;
			ctx.arc(point1[0]+(point2[0]-point1[0])/2,point1[1]+(point2[1]-point1[1])/2,5,0,2*Math.PI);
			ctx.stroke();
		}
	}

	function draw_connects(){
		for(var conn in connects){
			var connect = connects[conn];
			var point1 = get_port_draw_point(connect['start_unit'],connect['start_port'],connect['start_orientation'],connect['start_type'])
			var point2 = get_port_draw_point(connect['end_unit'],connect['end_port'],connect['end_orientation'],connect['end_type'])
			ctx.beginPath();
			ctx.strokeStyle = '#00ff00';
			ctx.lineWidth = 2;
			ctx.moveTo(point1[0],point1[1]);
			ctx.lineTo(point2[0],point2[1]);
			ctx.stroke();
			ctx.beginPath();
		}
	}

	function draw_current_connect(){
		if(drawing_connect_flag) {
			var unit = current_connection['unit'];
			var port = current_connection['port'];
			var orientation = current_connection['orientation'];
			var type = current_connection['type']
			var point = get_port_draw_point(unit,port,orientation,type)
			ctx.beginPath();
			ctx.strokeStyle = '#0000ff';
			ctx.arc(point[0],point[1],3,0,2*Math.PI);
			ctx.stroke();
			ctx.beginPath();
			ctx.strokeStyle = '#0000ff';
			ctx.lineWidth = 2;
			ctx.moveTo(point[0],point[1]);
			ctx.lineTo(current_connection['end_x'],current_connection['end_y']);
			ctx.stroke();
		}
	}

    function set_canvas_dimension(){
        total = Math.max(dus.length,pimcus.length,xmus.length,rus.length,sefs.length,cgs.length);
        var min_width = $("#divCanvas").width();
		var draw_width = SPACE_UNIT_HORIZONTAL;
		var draw_height = 0;
		if (dus.length > 0){
			draw_width += UNIT_WIDTH + SPACE_UNIT_HORIZONTAL * 2;
		}
		if (pimcus.length > 0){
			draw_width += UNIT_WIDTH + SPACE_UNIT_HORIZONTAL * 2;
		}
		if (xmus.length > 0){
			draw_width += UNIT_WIDTH + SPACE_UNIT_HORIZONTAL * 2;
		}
		if (rus.length > 0){
			draw_width += UNIT_WIDTH + SPACE_UNIT_HORIZONTAL * 2;
		}
		if (sefs.length > 0){
			draw_width += UNIT_WIDTH * 2 + SPACE_UNIT_HORIZONTAL * 5;
		}
		if (cgs.length > 0){
			draw_width += UNIT_WIDTH + SPACE_UNIT_HORIZONTAL;
		}
		draw_width += SPACE_UNIT_HORIZONTAL * 2;
		if (draw_width < min_width){
			draw_width = min_width;
		}
		c.width = draw_width;
		draw_height = (SPACE_UNIT_VERTICAL + UNIT_HEIGHT) * total + SPACE_UNIT_VERTICAL;
		if (draw_height < DRAW_HEIGHT){
			draw_height = DRAW_HEIGHT;
		}
        c.height = draw_height;
    }

	function get_port_by_location(x,y){
		hover_port = {};
		for(var p in ports){
			var upot = p.split(',');
			var unit = upot[0];
			var port = upot[1];
			var orientation = upot[2];
			var type = upot[3];
			var point = ports[p].split(',');
			var px_1 = parseInt(point[0]) - 3;
			var py_1 = parseInt(point[1]) - 10;
			var px_2 = px_1 + port.length * 6 + 6;
			var py_2 = py_1 + 14;
			if (x >= px_1 && x <= px_2 && y >= py_1 && y <= py_2) {
				hover_port['unit'] = unit;
				hover_port['port'] = port;
				hover_port['orientation'] = orientation;
				hover_port['type'] = type;
				break;
			}
		}
	}

	function get_connect_by_location(x,y){
		hover_connect = {};
		for(var conn in connects){
			var connect = connects[conn];
			var point1 = get_port_draw_point(connect['start_unit'],connect['start_port'],connect['start_orientation'],connect['start_type'])
			var point2 = get_port_draw_point(connect['end_unit'],connect['end_port'],connect['end_orientation'],connect['end_type'])
			var center_x = point1[0]+(point2[0]-point1[0])/2;
			var center_y = point1[1]+(point2[1]-point1[1])/2;
			var px_1 = center_x - 5;
			var py_1 = center_y - 5;
			var px_2 = center_x + 5;;
			var py_2 = center_y + 5;
			if (x >= px_1 && x <= px_2 && y >= py_1 && y <= py_2) {
				hover_connect['start_unit'] = connect['start_unit'];
				hover_connect['start_port'] = connect['start_port'];
				hover_connect['start_orientation'] = connect['start_orientation'];
				hover_connect['start_type'] = connect['start_type'];
				hover_connect['end_unit'] = connect['end_unit'];
				hover_connect['end_port'] = connect['end_port'];
				hover_connect['end_orientation'] = connect['end_orientation'];
				hover_connect['end_type'] = connect['end_type'];
				break;
			}
		}
	}

	function get_operate_by_location(x,y){
		hover_operate = {};
		for(var op in operates){
			var pot = op.split(',');
			var parent = pot[0];
			var operate = pot[1];
			var type = pot[2];
			var point = operates[op].split(',');
			var px_1 = parseInt(point[0]) - 3;
			var py_1 = parseInt(point[1]) - 10;
			var px_2 = px_1 + type.length * 6 + 6;
			var py_2 = py_1 + 14;
			if (x >= px_1 && x <= px_2 && y >= py_1 && y <= py_2) {
				hover_operate['parent'] = parent;
				hover_operate['operate'] = operate;
				hover_operate['type'] = type;
				break;
			}
		}
	}

	function remove_connect_by_unit(unit,flag){
		if(flag == undefined){
			flag = false;
		}
		var new_connects = new Array();
		for (var c in connects) {
			var start_unit = connects[c]['start_unit'];
			var end_unit = connects[c]['end_unit'];
			if(flag){
				if (start_unit.indexOf(unit) == 0 || end_unit.indexOf(unit) == 0) {
					continue;
				}
			} else {
				if (start_unit == unit || end_unit == unit) {
					continue;
				}
			}
			new_connects.push(connects[c]);
		}
		connects = new_connects;
	}

	function remove_connect_by_click(){
		var new_connects = new Array();
		for (var c in connects) {
			var start_unit = connects[c]['start_unit'];
			var start_point = connects[c]['start_port'];
			var end_unit = connects[c]['end_unit'];
			var end_point = connects[c]['end_port'];
			if (start_unit == hover_connect['start_unit'] && start_point == hover_connect['start_port'] && end_unit == hover_connect['end_unit'] && end_point == hover_connect['end_port']) {
				hover_connect = {};
				continue;
			}
			new_connects.push(connects[c]);
		}
		connects = new_connects;
	}

	function handle_operate_by_click(){
		var parent = hover_operate['parent'];
		var operate = hover_operate['operate'];
		var type = hover_operate['type'];
		if (operate == 'add') {
			if (type == '+AUG'){
				click_add_aug(parent);
			}else if(type == '+TMA'){
				click_add_tma(parent);
			}else if(type == '+TMF'){
				click_add_tmf(parent);
			}else if(type == '+AU'){
				click_add_au(parent);
			}else if(type == '+ASU'){
				click_add_asu(parent);
			}else if(type == '+PORT'){
				click_add_auport(parent);
			}else if(type == '+SUB'){
				click_add_tma_sub(parent);
			}
		} else if(operate == 'remove'){
			if(type == '-AUG'){
				click_remove_aug(parent);
			}else if(type == '-TMA'){
				click_remove_tma(parent)
			}else if(type == '-TMF'){
				click_remove_tmf(parent)
			}else if(type == '-AU'){
				click_remove_au(parent)
			}else if(type == '-ASU'){
				click_remove_asu(parent);
			}else if(type == '-PORT'){
				click_remove_auport(parent);
			}else if(type == '-SUB'){
				click_remove_tma_sub(parent);
			}
		} else if(operate == 'select'){
			if(type == 'ratType'){
				click_select_rattype(parent);
			}else if(type == 'band'){
				click_select_bandwidth(parent);
			}else if(type == 'tx'){
				click_select_tx(parent);
			}else if(type == 'rx'){
				click_select_rx(parent);
			}
		}
	}

	function click_add_aug(parent){
		var aug_exist = augs[parent];
		if(aug_exist == undefined){
			aug_exist = [];
		}
		aug_exist.push('AUG_' + (aug_exist.length + 1))
		augs[parent] = aug_exist;
	}

	function click_add_tma(parent){
		var tma_exist = tmas[parent];
		if(tma_exist == undefined){
			tma_exist = [];
		}
		tma_exist.push('TMA_' + (tma_exist.length + 1))
		tmas[parent] = tma_exist;
	}
	
	function click_add_tma_sub(parent){
		var tma_sub_exist = tma_subs[parent];
		if(tma_sub_exist == undefined){
			tma_sub_exist = [];
		}
		tma_sub_exist.push('' + (tma_sub_exist.length + 1));
		tma_subs[parent] = tma_sub_exist;
	}
	
	function click_add_tmf(parent){
		var tma_exist = tmas[parent];
		if(tma_exist == undefined){
			tma_exist = [];
		}
		tma_exist.push('TMF_' + (tma_exist.length + 1))
		tmas[parent] = tma_exist;
	}

	function click_add_au(parent){
		var au_exist = aus[parent];
		if(au_exist == undefined){
			au_exist = [];
		}
		au_exist.push('AU_' + (au_exist.length + 1));
		aus[parent] = au_exist;
	}

	function click_add_asu(parent){
		var asu_exist = asus[parent];
		if(asu_exist == undefined){
			asu_exist = [];
		}
		asu_exist.push('ASU_' + (asu_exist.length + 1));
		asus[parent] = asu_exist;
	}

	function click_add_auport(parent){
		var asu_port_exist = asu_ports[parent];
		if(asu_port_exist == undefined){
			asu_port_exist = [];
		}
		asu_port_exist.push('' + (asu_port_exist.length + 1));
		asu_ports[parent] = asu_port_exist;
	}

	function click_remove_aug(parent){
		var cur_augs = augs[parent];
		if(cur_augs == undefined){
			return;
		}
		var remove_aug = cur_augs.pop();
		if(cur_augs.length == 0){
			augs[parent] = undefined;
		}else {
			augs[parent] = cur_augs;
		}
		remove_connect_by_unit(parent + ";" + remove_aug,true);
		//remove tma
		for(var i in tmas){
			if (i.indexOf(parent + ";" + remove_aug) == 0){
				delete tmas[i];
			}
		}
		//remove au
		for (var i in aus){
			if(i.indexOf(parent + ";" + remove_aug) == 0){
				delete aus[i];
			}
		}
		//remove asu
		for (var i in asus){
			if(i.indexOf(parent + ";" + remove_aug) == 0){
				delete asus[i];
			}
		}
		//remove asu port
		for(var i in asu_ports){
			if (i.indexOf(parent + ";" + remove_aug) == 0){
				delete asu_ports[i];
			}
		}
		//remove ports
		for (var i in ports){
			if (i.indexOf(parent + ";" + remove_aug) == 0){
				delete ports[i];
			}
		}
		//remove operate
		hover_operate = {};
		for (var i in operates){
			if (i.indexOf(parent + ";" + remove_aug) == 0){
				delete operates[i];
			}
		}
	}

	function click_remove_tma(parent){
		var cur_tmas = tmas[parent];
		if(cur_tmas == undefined){
			return;
		}
		var new_tmas = new Array();
		var reverse_tmas = cur_tmas.reverse();
		var remove_flag = false;
		var remove_id = 1;
		for(var tma in reverse_tmas){
			if (remove_flag == false) {
				if(reverse_tmas[tma].indexOf('TMA') != -1){
					remove_flag = true;
					continue;
				}
			}
			if(reverse_tmas[tma].indexOf('TMA') != -1){
				remove_id++;
			}
			new_tmas.push(reverse_tmas[tma])
		}
		remove_connect_by_unit(parent + ";TMA_" + remove_id);
		cur_tmas = new_tmas.reverse();

		if(cur_tmas.length == 0){
			tmas[parent] = undefined;
		}else {
			tmas[parent] = cur_tmas;
		}
		//remove ports
		for (var i in ports){
			if (i.indexOf(parent + ";TMA_" + remove_id) == 0){
				delete ports[i];
			}
		}
		//remove operate
		hover_operate = {};
		for (var i in operates){
			if (i.indexOf(parent + ";TMA_" + remove_id) == 0){
				delete operates[i];
			}
		}
	}

	function click_remove_tma_sub(parent){
		var cur_tma_subs = tma_subs[parent];
		if(cur_tma_subs == undefined){
			return;
		}
		var remove_id = cur_tma_subs.pop();
		remove_connect_by_unit(parent + ";" + remove_id);

		if(cur_tma_subs.length == 0){
			tma_subs[parent] = undefined;
		}else {
			tma_subs[parent] = cur_tma_subs;
		}
		//remove ports
		for (var i in ports){
			if (i.indexOf(parent + ";" + remove_id) == 0){
				delete ports[i];
			}
		}
		//remove operate
		hover_operate = {};
		for (var i in operates){
			if (i.indexOf(parent + ";" + remove_id) == 0){
				delete operates[i];
			}
		}
	}
	
	function click_remove_tmf(parent){
		var cur_tmas = tmas[parent];
		if(cur_tmas == undefined){
			return;
		}
		var new_tmas = new Array();
		var reverse_tmas = cur_tmas.reverse();
		var remove_flag = false;
		var remove_id = 1;
		for(var tma in reverse_tmas){
			if (remove_flag == false) {
				if(reverse_tmas[tma].indexOf('TMF') != -1){
					remove_flag = true;
					continue;
				}
			}
			if(reverse_tmas[tma].indexOf('TMF') != -1){
				remove_id++;
			}
			new_tmas.push(reverse_tmas[tma])
		}
		remove_connect_by_unit(parent + ";TMF_" + remove_id);
		cur_tmas = new_tmas.reverse();

		if(cur_tmas.length == 0){
			tmas[parent] = undefined;
		}else {
			tmas[parent] = cur_tmas;
		}
		//remove ports
		for (var i in ports){
			if (i.indexOf(parent + ";TMF_" + remove_id) == 0){
				delete ports[i];
			}
		}
		//remove operate
		hover_operate = {};
		for (var i in operates){
			if (i.indexOf(parent + ";TMF_" + remove_id) == 0){
				delete operates[i];
			}
		}
	}

	function click_remove_au(parent){
		var cur_aus = aus[parent];
		if(cur_aus == undefined){
			return;
		}
		var remove_au = cur_aus.pop();
		if(cur_aus.length == 0){
			aus[parent] = undefined;
		}else {
			aus[parent] = cur_aus;
		}
		remove_connect_by_unit(parent + ";" + remove_au,true);
		//remove asu
		for (var i in asus){
			if(i.indexOf(parent + ";" + remove_au) == 0){
				delete asus[i];
			}
		}
		//remove asu port
		for(var i in asu_ports){
			if (i.indexOf(parent + ";" + remove_au) == 0){
				delete asu_ports[i];
			}
		}
		//remove ports
		for (var i in ports){
			if (i.indexOf(parent + ";" + remove_au) == 0){
				delete ports[i];
			}
		}
		//remove operate
		hover_operate = {};
		for (var i in operates){
			if (i.indexOf(parent + ";" + remove_au) == 0){
				delete operates[i];
			}
		}
	}

	function click_remove_asu(parent){
		//remove asu
		var cur_asus = asus[parent];
		if(cur_asus == undefined){
			return;
		}
		var remove_asu = cur_asus.pop();
		if(cur_asus.length == 0){
			asus[parent] = undefined;
		}else {
			asus[parent] = cur_asus;
		}
		remove_connect_by_unit(parent + ";" + remove_asu,true);
		delete asu_ports[parent + ";" + remove_asu];
		//remove ports
		for (var i in ports){
			if (i.indexOf(parent + ";" + remove_asu) == 0){
				delete ports[i];
			}
		}
		//remove operate
		hover_operate = {};
		for (var i in operates){
			if (i.indexOf(parent + ";" + remove_asu) == 0){
				delete operates[i];
			}
		}
	}

	function click_remove_auport(parent){
		var asu_port_exist = asu_ports[parent];
		if(asu_port_exist != undefined){
			asu_port_exist.pop();
			if(asu_port_exist.length == 0){
				asu_port_exist = undefined;
			}
			asu_ports[parent] = asu_port_exist;
		}
	}

	function click_select_rattype(parent){
		var p = parent.split(";");
		var exist_attr = cg_attr[p[0]];
		exist_attr['ratType'] = p[1];
		cg_attr[p[0]] = exist_attr;
	}
	
	function click_select_bandwidth(parent){
		var p = parent.split(";");
		var exist_attr = cg_attr[p[0]];
		exist_attr['bandwidth'] = parseInt(p[1]);
		cg_attr[p[0]] = exist_attr;
	}
	
	function click_select_tx(parent){
		var p = parent.split(";");
		var exist_attr = cg_attr[p[0]];
		exist_attr['tx'] = parseInt(p[1]);
		cg_attr[p[0]] = exist_attr;
	}
	
	function click_select_rx(parent){
		var p = parent.split(";");
		var exist_attr = cg_attr[p[0]];
		exist_attr['rx'] = parseInt(p[1]);
		cg_attr[p[0]] = exist_attr;
	}
	
	function get_port_draw_point(unit,port,orientation,type){
		var point = ports[unit+","+port+","+orientation+","+type].split(',');
		var x1 = parseInt(point[0]) - 3;
		var y1 = parseInt(point[1]) - 10;
		var x2 = x1 + port.length * 6 + 6;
		var y2 = y1 + 14;
		var x = 0;
		var y = 0;
		if (orientation == 'left'){
			x = x1 - 5;
			y = y1 + (y2 - y1) / 2;
		} else if(orientation == 'right') {
			x = x2 + 5;
			y = y1 + (y2 - y1) / 2;
		} else if(orientation == 'up') {
			x = x1 += (x2 - x1) / 2;
			y = y1 - 5;
		} else if(orientation == 'down') {
			x = x1 += (x2 - x1) / 2;
			y = y2 + 5;
		}
		return [x,y]
	}

	function click_generate_config(){
		var data = handle_configuration_data();
		$.ajax({
			url: "{{url_for('webConfigGenerater')}}",
			type:'post',
			data:{
				'data':JSON.stringify(data)
			},
			success:function(content){
				url = "{{url_for('webConfigDownload',file_name='FILE_NAME')}}";
				window.open(url.replace('FILE_NAME',content))
			},
			error:function(){
				alert("Error:Can't Generate configuration, please check your connect.");
			}
		});
	}

	function handle_configuration_data(){
		var data = {};
		var unit = {};
		unit['du'] = dus;
		unit['pimcu'] = pimcus;
		unit['xmu'] = xmus;
		unit['ru'] = rus;
		data['unit'] = unit;
		var others = {};
		var data_sefs = {};
		for (var s in sefs){ // vs = SEF_1
			var data_augs = {};
			var vs = sefs[s];
			for (var i in augs[vs]){ //vi = AUG_1
				var aus_tmas = {};
				var data_aus = {};
				var vi = augs[vs][i];
				for(var j in aus[vs+";"+vi]){ //vj = AU_1
					var data_asus = {};
					var vj = aus[vs+";"+vi][j];
					for(var k in asus[vs+";"+vi+";"+vj]){ //vk = ASU_1
						var vk = asus[vs+";"+vi+";"+vj][k];
						data_asus[vk] = asu_ports[vs+";"+vi+";"+vj+";"+vk];
					}
					data_aus[vj] = data_asus;
				}
				aus_tmas['au'] = data_aus;
				var data_tmas = {};
				for(var j in tmas[vs+";"+vi]){ //vj = TMA_1
					var vj = tmas[vs+";"+vi][j];
					data_tmas[vj] = tma_subs[vs+";"+vi+";"+vj];
				}
				aus_tmas['tma'] = data_tmas;
				data_augs[vi] = aus_tmas;
			}
			data_sefs[vs]=data_augs;
		}
		others['sef'] = data_sefs;
		var connect = {};
		var o_connect = {};
		for (var c in connects){
			var conn = exchange_connect_port(connects[c]);
			var start_type = conn['start_type'];
			if(start_type == 'du' || start_type == 'pimcu' || start_type == 'xmu'){
				var start_unit = conn['start_unit'];
				var start_port_name = get_port_name_by_orientation(start_type,conn['start_orientation']);
				var start_port_index = get_port_index(conn['start_port']);

				var end_type = conn['end_type'];
				var end_unit = conn['end_unit'];
				var end_port_name = get_port_name_by_orientation(end_type,conn['end_orientation']);
				var end_port_index = get_port_index(conn['end_port']);
				connect[start_unit + "." + start_port_name + '.' + start_port_index] = end_unit +'.' + end_port_name + '.' + end_port_index;
			} else {
				var start_unit = conn['start_unit'];
				var start_port_name = get_port_name_by_orientation(start_type,conn['start_orientation']);
				var start_port_index = get_port_index(conn['start_port']);

				var end_type = conn['end_type'];
				var end_unit = conn['end_unit'];
				var end_port_name = get_port_name_by_orientation(end_type,conn['end_orientation']);
				var end_port_index = get_port_index(conn['end_port']);
				var left_port = (start_port_name == null?(start_unit + "." + start_port_index):(start_unit + "." + start_port_name + '.' + start_port_index));
				var right_port = (end_port_name == null?(end_unit +'.' + end_port_index):(end_unit +'.' + end_port_name + '.' + end_port_index));
				if(start_port_index == '+'){
					var exist_right_port = o_connect[left_port];
					if(exist_right_port == undefined){
						o_connect[left_port] = right_port.split('.')[0];
					}else {
						o_connect[left_port] = exist_right_port + ";" + right_port.split('.')[0];
					}
				}else {
					o_connect[left_port] = right_port;
					
				}
			}
		}
		data['connect'] = connect;
		others['connect'] = o_connect;
		others['cg'] = cg_attr;
		data['others'] = others;
		return data;
	}

	var vals = {"du":1,"pimcu":2,"xmu":3,"ru":4,"tma":5,"auport":6,"sef":7,"cg":8}
	function exchange_connect_port(connect){
		var start_type = connect['start_type'];
		var end_type = connect['end_type'];
		if (vals[start_type] > vals[end_type]){
			var new_connect = {};
			new_connect['start_unit'] = connect['end_unit'];
			new_connect['start_port'] = connect['end_port'];
			new_connect['start_orientation'] = connect['end_orientation'];
			new_connect['start_type'] = connect['end_type'];
			new_connect['end_unit'] = connect['start_unit'];
			new_connect['end_port'] = connect['start_port'];
			new_connect['end_orientation'] = connect['start_orientation'];
			new_connect['end_type'] = connect['start_type'];
			return new_connect;
		}
		return connect;

	}

	function get_index_in_units(type,unit){
		var index = 0;
		if(type == 'du'){
			for (var d in dus){
				index++;
				if(dus[d] == unit){
					return index;
				}
			}
		}else if(type == 'pimcu'){
			for (var p in pimcus){
				index++;
				if(pimcus[p] == unit){
					return index;
				}
			}
		}else if(type == 'xmu'){
			for (var x in xmus){
				index++;
				if(xmus[x] == unit){
					return index;
				}
			}
		}else if(type == 'ru'){
			for (var r in rus){
				index++;
				if(rus[r] == unit){
					return index;
				}
			}
		}
	}

	function get_port_name_by_orientation(type,orientation){
		if (orientation == 'left'){
			if(type == 'du'){
				return 'diPort';
			}else if(type == 'pimcu'){
				return 'bbRiPort';
			}else if(type == 'xmu'){
				return 'riPort';
			}else if(type == 'ru'){
				return 'riPort'
			}
		}else if(orientation == 'right'){
			if(type == 'du'){
				return 'riPort';
			}else if(type == 'pimcu'){
				return 'ruRiPort';
			}else if(type == 'xmu'){
				return 'riPort';
			}else if(type == 'ru'){
				return 'rfPort'
			}
		}else if(orientation == 'up'){
			if(type == 'du'){
				return '';
			}else if(type == 'pimcu'){
				return 'iplPort';
			}else if(type == 'xmu'){
				return '';
			}else if(type == 'ru'){
				return ''
			}
		}else if(orientation == 'down'){
			if(type == 'du'){
				return '';
			}else if(type == 'pimcu'){
				return 'iplPort';
			}else if(type == 'xmu'){
				return '';
			}else if(type == 'ru'){
				return ''
			}
		}
		return null;

	}

	function get_port_index(port){
		var p = port.split("_");
		if(p.length == 1){
			return p;
		}else{
			return p[1];
		}
	}

</script>
</body>
</html>